<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<form method="POST" action="/update/{{ candidate.id }}">
    {% csrf_token %}
    <div>
        <br>
        <p>
            <h3>Update Candidate Details</h3>
        </p>
    </div>
    {{ form.as_p }}
    <div>
        <br>
        <button type="submit">Update</button>
    </div>
</form>




