<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Candidate ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact</th>
 
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.first_name }}</td>
                <td>{{ candidate.last_name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.contact_no_primary }}</td>

                <td>
                    <a href="/edit/{{ candidate.id }}">Edit</a>
                    <a href="/delete/{{candidate.id}}">Delete</a>
                    
                       
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:white;" href="/emp">Add New Candidate</a></button>
</body>

</html>
